* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.app {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin: 77px auto;
}

.display {
  display: flex;
  background-color: #858694;
  height: 100px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  justify-content: right;
  align-items: center;
  padding: 12px;
  width: 100%;
}

.button-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-row {
  height: 100px;
  width: 100%
}

.button {
  font-size: 18px;
  width: 25%;
  height: 100%;
  text-align: center;
  color: black;
  border: 1px #d1d1d1 solid;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.wide {
  width: 50%;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}
